/* ---------------------------------
    for no data Available
------------------------------------*/

.no-data {
	color: #ee3043;
}

/* header */

/* .header-name {
	background-color: aliceblue;
} */

.header-name h1 {
	font-size: x-large;
	font-weight: 900;
	background-image: url("../assets/We-do-textures-etch-1.png");
	background-clip: text;
	background-size: 100% 100%;
	-webkit-background-clip: text;
	color: transparent;
}

/* home page */

.home-page {
	height: calc(100vh - 54px);
}

.color-background {
	background-color: #ee3043;
	opacity: 0.7;
}

.color-background .card {
	opacity: 0.5;
}
